:root {
  --van-color-primary: @primary-color;
  --van-color-success: @success-color;
  --van-color-warning: @warning-color;
  --van-color-danger: @danger-color;
  --van-font-size-md: @font-size-base;
}
